<ul *ngFor="let user of userDetails">
  <app-user-details [item]="user"></app-user-details>
</ul>
<app-child (updateDataEvent)="updateData($event)"></app-child>
<p>{{ data }}</p>
<p>
  <input type="text" [(ngModel)]="name" />
  <!--Two way Binding-->
</p>

<p>{{ name }}</p>
<p>
  <input type="text" placeholder="hello name" #box />
  <button (click)="getVal(box)">Call function</button>
  <!--With the use of refrence type variable you can get any property of input-->
</p>

<p>{{ title | uppercase }}</p>
<h2>{{ today | date : "fullDate" }}</h2>
<!--Pipes use-->
<p>{{ title | slice : 2 : 5 | uppercase }}</p>
<p><!--Pipes with params--></p>
<p>{{ userDetails | json }}</p>
<p></p>
<h2>{{ 2.3 | number : "3.4-5" }}</h2>
<h1>
  {{ 20 | currency : "GBP" }}
  <h1>
    <h5>
      {{ 20 | usdInr : 100 }}
      <h1><!--Custom Pipes--></h1>
    </h5>
  </h1>
</h1>
<form #loginForm="ngForm" (ngSubmit)="userLogin(loginForm.value)">
  <input placeholder="Enter Name" ngModel type="text" name="name" />
  <br /><br />
  <input placeholder="Enter Password" ngModel type="password" name="password" />
  <br /><br />
  <button>Login</button>
</form>
<!--Template Driven Form-->
<button (click)="userLogin(loginForm.value)">Getlogin</button>

<form [formGroup]="lgForm" (ngSubmit)="lgForm1()">
  <!--Reactive Form -->
  <input placeholder="Enter Name" type="text" formControlName="user" />
  <br >
  <span style="color:red"  *ngIf="user && user.invalid && user.touched">This is not a valid Field</span>
  <br >
  <input
    placeholder="Enter Password"
    type="password"
    formControlName="password"
  />
  <br >
  <span style="color:red" *ngIf="password && password.invalid && password.touched">This is not a valid Field</span>
  <br >
  <button [disabled]="lgForm.invalid">Login</button>
</form>
<h1 appRedEl>{{title}}<h1> <!--Custom Directive-->
  <a routerLink="">Home</a> <!--Static Routing-->
  <br>
  <a routerLink="about">About</a>
  <br>
  <a routerLink="user">user</a>
  <router-outlet></router-outlet>

<br>
<br>
  <a routerLink="user/20">Anil</a> <!--Dynamic Routing-->
  <br>
  <a routerLink="user/30">Ram</a>
  <br>
  <a routerLink="user/40">keshav</a>
  <ul>
    <li *ngFor="let data of userDetails">
      {{data.name}}
      </li>
    </ul>
    <ul *ngFor="let user of users ">
      <li>{{user.name}}</li>
      <li>{{user.age}}</li>
      <li>{{user.email}}</li>
    </ul>

    <ul *ngFor="let data of pokemons ">
      <li>
        {{ data.results| json  }} 
     </li>
    </ul>
    <form #userform="ngForm" (ngSubmit)="getUserFormData(userform.value)">
      <input type="text" ngModel name="name" placeholder="enter name">
       <br>
      <input type="email"  ngModel name="email" placeholder="enter email">
       <br>
      <input type="password" ngModel name="password" placeholder="enter password">
       <br>
       <button>Add New user</button>
       </form>
    <app-footer></app-footer>